.category-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    overflow: hidden;
    .c-i-img {
        position: relative;
        width: 42px;
    }
}