footer {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    .social {
        border-bottom: 1px solid rgba(184, 197, 214, .2);
        &-list {
            width: 400px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            line-height: 65px;
        }
    }
}